

/*Add css for displaying error*/
.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.error-code {
    color: red;
    font-weight: bold;
    margin-top: 5px;
}
#error-heading {
    font-size: 24px;
    font-weight: bold;
    color: red;
    margin-bottom: 10px;
}

#error-message {
    color: red;
    margin-bottom: 20px;
}
