* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", helvetica, arial;
    background-color: lightgrey;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#logo-container {
    text-align: center;
    margin-bottom: 20px;
}

#logo {
    max-width: 150px; /* Adjust the max-width to your desired size */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensures the image fits inside the specified dimensions */
    clip-path: inset(0 0 20% 0); /* Crop the logo from below by 20% */
}

h2 {
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

p.error-message {
    color: red;
    margin-bottom: 10px;
}