* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", helvetica, arial;
    background-color: lightgrey;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#logo-container {
    text-align: center;
    margin-bottom: 20px;
}

#logo {
    max-width: 150px; /* Adjust the max-width to your desired size */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensures the image fits inside the specified dimensions */
    clip-path: inset(0 0 20% 0); /* Crop the logo from below by 20% */
}

form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

h2 {
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="password"] {
    margin-bottom: 15px;
    padding: 8px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

p.error-message {
    color: red;
    margin-bottom: 10px;
}